<nav id="nav-bar">
    <div class="nav-one">
        <label for="flipcart">FlipKart</label>
        <input type="search" placeholder="Search for products" />
        <button>search</button>
    </div>
    <div class="nav-two">
        <ul>
            <li><a routerLink="">HOME</a></li>
        </ul>
        <a routerLink="mycart">
            <!-- <img src="./shopping_cart_white_24dp.svg" alt="hauni" /> -->
            CART
        </a>
    </div>

        <div class="nav-btn">
            <button routerLink="login">Login</button>
        </div>
</nav>