<div class="row">

    <div style="width: 20%;">
        <img src="{{Item.image}}" alt="" height="100px" width="100px" />
        <div id="productNo" >
            <button (click)="increase()" [disabled]="no_Item>=5" class="productno">+</button>
            <span >{{no_Item}}</span>
            <button (click)="decrease()" [disabled]="no_Item<=1" class="productno">-</button>
        </div>
    </div>
    <div style="width: 50%;">
        <h4 class="row-p" (click)="gotoProductDetails(Item.id)" >{{Item.title}}</h4>
        <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png" alt="" style="width: 51px; margin:0px;height: 20px;">
        <!-- <p class="row-p"> Multicolor, Pack of 5</p> -->
        <!-- <p class="row-p"> Seller:AABags</p> -->
        <p class="row-p" ><span>&#x20B9;</span>{{Item.price |number : '1.0-0' }}</p>
        <button (click)="removeitem()" id="specification">Remove</button>
    </div>
    <div style="width: 30%;">
        <p class="row-p">Delivery by Sun Aug 15 | Free₹40</p>
        <p class="row-p" style="color: rgb(158, 154, 154);">7 Days Replacement Policy</p>
    </div>
</div>
    
    